/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap'); */

@import url("https://api.fontshare.com/v2/css?f[]=general-sans@500,600,400,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');



:root{
    --clr-drk: #070a13 ;
    --clr-light: #F1F5F9 ;
    --clr-slate400: #94A3B8;
    --clr-slate800: #1e293b;

    --fs-large: clamp(2rem, (2rem + 2.5vw), 8rem);
    --fs-medium: clamp(1rem, (1rem + 1.5vw), 4rem);
    --fs-small: clamp(1rem, (1rem + 1vw), 1.5rem);

    --clr-text: hsl(0, 0%, 20%);
    --clr-text-magnetic-btn: hsl(0, 0%, 80%);
    --clr-magnetic-btn-bg: hsl(0, 0%, 10%);
    --clr-blue: #455CE9;
}



*{
    margin: 0;
    padding: 0;
}

html, body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #F1F5F9 ;
    font-family: 'General Sans', sans-serif;
    scroll-behavior: smooth;
    /* background-color: #313131; */
    /* font-family: 'Helvetica Now Text', sans-serif; */
    user-select: none;
 
 
}






.main_1{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    /* background-color: var(--clr-light); */
    /* font-size: clamp(10px, 3vw, 100px); */

    /* background-color: lightblue; */
    /* justify-content: center; */
    /* background-color: #ddffaa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E"); */
    
    /* background-color: #F1F5F9; */
/* background-color: var(--clr-drk); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='4' height='4' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23E9E9E9' cx='2' cy='2' r='2'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.63'/%3E%3C/svg%3E"); */
}


/* .main_1::before, .main_1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(255, 0, 0) 1px, transparent 1px),
                      linear-gradient(to bottom, rgb(255, 0, 0) 1px, transparent 1px);
    background-size: 50px 50px;
    pointer-events: none;
    
} */



/* =====================start-scrol-down-button===================== */

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    /* animation: upDown 2s ease-in-out infinite; */
    height: 30px;
    position: relative;
    
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
}

.scroll-down {
    /* --ionicon-stroke-width: 0px; */
    margin-top: 90px;
  }

.scroll-down{
    border-radius: 5px;
    font-size: 30px;
    color: #1E293B;
    filter: drop-shadow(3.2px 3.5px 9px rgba(99, 99, 99, 0.541));
    /* background-color: rgb(0, 0, 0); */
    /* margin-top:50px ;    */
    /* padding: 5px; */
    /* box-shadow: 5px 5px 19px -2px rgba(0,0,0,0.44); */
    /* background-color: rgb(0, 0, 0); */

}


/* =====================end-scrol-down-button===================== */




.heading, .head{
    font-size: clamp(30px, 9vw, 110px);
    font-weight: 800;
    font-family: Space Grotesk;
    /* font-size: 5rem; */
    /* color: var(--clr-slate400); */
    
}

.bold-color{
    font-weight: 700;
    color: #4f46e5;
}

.head{
    color: #1E293B;
}

.typed_js{
    /* background-color: #455CE9; */
    margin-top: 35px;
    margin-bottom: 25px;
}

.heading{
    color: #f43f5e;
    /* color: rgb(255, 0, 60); */
}

.detail{
    font-size: clamp(15px, 1.2vw, 100px);
    /* font-size: clamp(1.2rem, 1vw + 1rem, 2.8rem); */
    margin: 0; /* remove default margin */
    padding: 0; /* remove default padding */
    /* white-space: nowrap; */

    /* margin-top: 16px; */
    /* font-size: 1rem; */
    /* color: var(--clr-light); */

}



.paragraph {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;

}


.subtitle{
    color: #1E293B;
    margin-top: 30px;
}

.profile_pic{
    margin-top: 90px;
    margin-bottom: 25px;
    width: 180px;
    border-radius: 50%;
}
/*========strat-visit-button=========*/

/* .magnetic-btn{              
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    margin-top: 50px;
    border: transparent;
    font-weight: 800;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: clamp(10px, .6vw, 100px);
    border-radius: 50%;
    background-repeat: no-repeat;
    
} */


.reach-btn{
    font-size: 18px;
    width: 7rem;
    height: 2.5rem;
    margin-top: 50px;
    /* border: 0.2px solid transparent; */
    border: none;
    border-radius: 5px;
    background-color: #f43f5e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: 600;
    cursor: pointer;
    font-family: General Sans;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px #e11d478a, 0 0 100px -10px #e11d48;
    transition: transform 0.3s, box-shadow 0.3s;

}

.reach-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px #e11d472b,
      0 10px 10px #e11d4725, 0 0 120px -10px #e11d48;
  }

/* .project-section:hover{ */
    /* padding: 10px 25px; */
    /* background-image: linear-gradient(90deg, #006fd9, #6e63d8, #a551cc, #d036b4, #ef0094, #ff006c, #ff0041, #ff3400); */
    /* background-size: 100%; */
    /* color: rgb(0, 0, 0); */
    /* box-shadow: 3px 3px 0px 0px rgb(0, 0, 0); */
    /* background-color: rgb(255, 0, 60); */
/* } */


/*========end-visit-button=========*/


.second-page{
    height: 100%;
    width: 100%;
    /* background-color: #e11d48; */
    /* background-color: var(--clr-light); */
    /* position: absolute; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: var(--clr-light); */
    /* background-color: aqua; */
    /* background-color: var(--clr-slate800); */
}

.tech_heading{
    font-size: clamp(1.2rem, 1vw + 1rem, 2.8rem);
    font-family: Space Grotesk;
    font-weight: 400;
    /* color: #e11d48; */
    white-space: nowrap;
    padding: 2px 10px;
    border-radius: 5px;
    /* animation: marquee 20s linear infinite; */
    /* padding-left: 10px; */
    /* font-size: clamp(2rem, 8vw, 4rem); */
    /* color: #e11d48; */
    /* color: white; */
    /* background-color: white; */
    /* width:fit-content; */
    /* width: max-content; */
    /* text-align: center; */
    /* margin-top: 10px; */
    /* font-size: clamp(50px, 5vw, 100px); */
    /* font-size: clamp(1em, 11.5vw, 3em); */
    /* text-decoration:underline; */
    /* text-underline-offset: 12px; */
    /* text-decoration-thickness: 3px; */
    /* text-align: center; */
    }


.navbar{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}    

.nav-container{
    position: absolute;
    width: 100%;
    height: auto;
    /* background-color: rgb(255, 0, 0); */
    background-color: rgba(205, 205, 205, 0);
    backdrop-filter: blur(500px);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content:end;
    align-items: center;
    font-size: 25px;
    /* display: inline-block;   */
    /* background-color: #455CE9; */
    /* background-color: white; */
    /* padding: 2px 10px;
    border-radius: 5px; */
    /* animation: marquee 20s linear infinite; */
}

.nav-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 200px; */
    height: 100%;
    position: relative;
    right: 20px;
    /* background-color: #455CE9; */
}


.nav-logos ion-icon{
    margin-right: 50px;
}


@keyframes marquee{

    0%{
        transform: translateX(100%);
        }
    100%{
            
        transform: translateX(-100%);
    }
}








.education-section {
    /* background: linear-gradient(to right, #f0f4f8, #d9e2ec); */
    height: 50%;
    /* padding-top: 50px; */
}

.education-section h2 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #1E293B;
    text-align: center;
    /* margin-bottom: 20px 10px; */
    /* margin-top: 20px; */
}



.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
    max-width: 900px;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.timeline-icon {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    background-color: #f43f5e;
    /* background-color: #334e68; */
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 20px;
}

.timeline-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.timeline-content h3 {
    margin-top: 0;
    color: #102a43;
}

.timeline-content span {
    color:  #4f46e5;
    /* color: #627d98; */
    font-size: 0.9em;
}

.timeline-content p {
    color: #334e68;
}




.third-section{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    /* background-color: #4caf50; */
}


/* =========skill section=========== */ 




.skills-section {
    font-family: Space Grotesk, sans-serif;
    width: 100%;
    height: 80%;
    /* margin: 50px auto; */
    /* padding: 20px; */
    /* background-color: red; */
    /* overflow:scroll; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.skills-section h2 {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 2.5em;
    color: #333;
}

.skills-section p {
    text-align: center;
    margin-bottom: 40px;
    color: #666;
}

.skills-categories {
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.category {
    flex: 1;
    margin: 0 10px;
    margin-bottom: 20px;
}

.category h3 {
    color: #333;
    margin-bottom: 10px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.skill {
    text-align: center;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.skill img {
    max-width: 25px;
    margin-bottom: 10px;
}

.skill h3 {
    margin-bottom: 10px;
    color: #333;
}

.skill i {
    font-size: 25px;
    margin-bottom: 10px;
}

.skill .skill-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.skill .skill-level {
    height: 10px;
    background-color: #4caf50;
}



@media only screen and (max-width: 600px) {
        .nav-logos ion-icon{
        margin-right: 25px;
    }


    .nav-logos{
        min-width: 10px;
    
    }

  }